html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
  font-size: 100%;
  font-family: sans-serif;
  background-color: #F5F3F3;
}

.navegar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4C8E4F;
    position: sticky;
    bottom: 0;
  }
  
  .navegar ul li {
    float: left;
  }
  
  .navegar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navegar ul li a:hover:not(.active) {
    background-color: #111;
  }

  .navegar ul li:last-child{
      border-right: none;
  }
  
  .activo {
    background-color: #000;
    color: #fff;
  }

.shoppingcart .price{
    color: #007bff;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
    display: block;
}
var {
    font-style: normal;
}

.img-sm {
    width: 90px;
    max-height: 75px;
    object-fit: cover;
}