html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
  font-size: 100%;
  font-family: sans-serif;
  background-color: #F5F3F3;
}

.navegar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4C8E4F;
    position: sticky;
    bottom: 0;
  }
  
  .navegar ul li {
    float: left;
  }
  
  .navegar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navegar ul li a:hover:not(.active) {
    background-color: #111;
  }

  .navegar ul li:last-child{
      border-right: none;
  }
  
  .activo {
    background-color: #000;
    color: #fff;
  }

  * {
    box-sizing: border-box;
  }
  
  h1{
    text-align: center;
    color: #12450A;
  }

  .contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
  }
  
  input {
    width: 100%;
    padding: 10px;
    outline: none;
    margin: 5px 0 22px 0;
  }

  input:focus{
    border: 2px solid #4CAF50;
  }
  
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    margin: 5px 0 22px 0;
  }
  a{
    color: #fff;
  }
  
  .btn:hover {
    opacity: 1;
  }
  